.deal {
  height: 100%;
  width: 100%;
  background-color: #23292d;
  border-radius: 8px;
  color: #fff;
  margin: 10px 30px 20px 0;
  transition: all .1s ease-out;
  box-shadow: 0 0 0 0 transparent,0 0 0 0 transparent;
}

.dealWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.dealWrapper:hover {
  box-shadow: 0px 4px 30px 1px #000000;
  transition: 1s;
  cursor: pointer;
}

.cost {
  font-size: 20px;
  color: lime;
}


.icon{
  margin-right: 10px;
  font-size: 20px;
}