
.buttonGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: stretch;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #ed1c24;
  margin-right: 10px;
}

.buttonGroup .button {
  display: inline-block;
  flex: 1 100%;
  background-color: transparent;
  border-radius: 0;
  color: #ed1c24;
  border-right: 2px solid #ed1c24;
  transition: all .2s ease-out;
  cursor: pointer;
}

.buttonGroup .button:last-child {
  border-right: 0;
}

.buttonGroup .button:hover, .buttonGroup .button.active {
  color: #fff;
  background-color: #ed1c24;
}