
.buttonGroup {
  display: flex;
  width: 200px;
  flex-direction: row;
  height: 100%;
  align-content: stretch;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #f25d48;
  margin-right: 10px;
}

.buttonGroup .button {
  display: inline-block;
  padding: 5px;
  flex: 1 100%;
  background-color: transparent;
  border-radius: 0;
  color: #f25d48;
  border-right: 2px solid #f25d48;
  transition: all .2s ease-out;
  cursor: pointer;
  text-align: center;
}

.buttonGroup .button:last-child {
  border-right: 0;
}

.buttonGroup .button:hover, .buttonGroup .button.active {
  color: #000000;
  background-color: #f25d48;
}
