.wrapper {
  position: relative;
  height: 100%;
  background: #191c1f;
}

.backBtn {
  position: absolute;
  left: -55px;
  bottom: 15%;
  font-size: 37px;
  cursor: pointer;
}

.buttonWrapper {
  padding: 50px 20px 0 80px;
  display: flex;
  justify-content: space-between;
}

.dealWrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100% - 235px);
  overflow: auto;
  padding: 0 0 0 80px;
}

.dealCount {
  font-size: 18px;
  position: relative;
  padding: 10px 0;
}

.dealCountHeading {
  display: inline-block;
  margin: 0;
}

