.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f6fff9;
}

.wrapper {
    height: 75px;
    background-color: #f25d48;
    padding: 10px 60px;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.logoWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logoWrapper img {
    display: block;
    margin-bottom: 5px;
}
